
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.typewriter {
  display: flex;
  white-space: pre-wrap;
}

.round {
  border-radius: 50%
}

.textShadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  color: blue;
}


/* ================= */
/* Define the fade-in keyframes */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInButton {
  from { 
    opacity: 0;
    z-index: -1;

  }
  to { 
    opacity: 1; 
    z-index: 1;
  }
}

@keyframes fadeInAndMoveLogo {
  from {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  to {
    transform: translate(-44vw, -40vh) scale(0.5);
    opacity: 1;
  }
}



/* ================================ Opening Screen animations =================================== */

/* Apply different delays for each line */

.fadeInAndMove {
  animation: fadeInAndMoveLogo 2s ease-in-out forwards;
}

.fadeInCityscape {
  opacity: 0; /* Start hidden */
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
}

.fadeInText {
  opacity: 0; /* Start hidden */
  animation: fadeIn 3s ease-in-out forwards;
  animation-delay: 2s;
}
.fadeInButton {
  opacity: 0; /* Start hidden */
  animation: fadeInButton 1s ease-in-out forwards;
  animation-delay: 3s;
  z-index: -1;
}

/* ======================================= Staggered Text ======================================= */

.stagger-container {
  display: flex;
  flex-direction: column;
}

.stagger-item {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}
