@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
@font-face {
    font-family: 'Viga';
    src: url('/fonts/Viga-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  